div,
span {
  box-sizing: border-box;
  position: relative;
  border: 0 solid black;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
}

span {
  display: inline-flex;
}
